@model rebulanyum.CatalogApp.Data.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<div ng-controller="ProductsController">
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>{{product.id}}</dd>

        <dt>@Html.DisplayNameFor(model => model.Code)</dt>
        <dd>{{product.code}}</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>{{product.name}}</dd>

        <dt>@Html.DisplayNameFor(model => model.Photo)</dt>
        <dd><img width="300" height="200" src="{{product.photo}}"</dd>

        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>{{product.price}}</dd>

        <dt>@Html.DisplayNameFor(model => model.LastUpdated)</dt>
        <dd>{{product.lastUpdated}}</dd>
    </dl>
    <div class="form-group">
        <button class="btn btn-default" ng-click="delete()">Delete</button>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Head {
    <script type="text/javascript" src="~/lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="~/js/product/delete.js"></script>
    <script type="text/javascript">
        (function () {
            var apiBase = '@ViewData["apiBase"]';
            var productId = @Model.Id;
            Initialize(apiBase, productId);
        })();
    </script>
}