@model IEnumerable<rebulanyum.CatalogApp.Data.Product>

@{
    ViewData["Title"] = "Products";
}

<div ng-controller="ProductsController">
    <h2>Products</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Code)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                @*<th>@Html.DisplayNameFor(model => model.Photo)</th>*@
                <th>@Html.DisplayNameFor(model => model.Price)</th>
                <th>@Html.DisplayNameFor(model => model.LastUpdated)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.id}}</td>
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                @*<td>{{product.photo}}</td>*@
                <td>{{product.price}}</td>
                <td>{{product.lastUpdated}}</td>
                <td>
                    <a href="/Product/Edit/{{product.id}}">Edit</a> |
                    <a href="/Product/View/{{product.id}}">View</a> |
                    <a href="/Product/Delete/{{product.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5"></td>
                <td><a href="@ViewData["apiBase"]/products/export" target="_blank">Export to Excel</a></td>
            </tr>
        </tfoot>
    </table>
</div>

@section Head {
    <script type="text/javascript" src="~/lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="~/js/product/index.js"></script>
    <script type="text/javascript">
        (function () {
            var apiBase = '@ViewData["apiBase"]';
            Initialize(apiBase);
        })();
    </script>
}
@section BodyScripts {

}